[defaults]
callback_whitelist = profile_tasks
forks = 15
host_key_checking = False
interpreter_python = auto_silent
inventory = inventory
stdout_callback = yaml

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey
